<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.project.mapper.UserDemoMapper">

    <select id="sqlTest" resultType="com.tang.project.entry.UserDemo">
--         SELECT * FROM user_demo ORDER BY id DESC
        SELECT u.id,r.`name` as userName FROM user_demo u LEFT JOIN role_demo r ON u.id = r.user_demo_id
        WHERE u.password = '123456'
        ORDER BY u.id DESC
    </select>


    <!--    ${names} 有SQL注入的风险-->
    <select id="findByNames" resultType="com.tang.project.entry.UserDemo">
        SELECT id,name FROM `userdata` WHERE name in (${names})
    </select>

</mapper>
